html,body {
  min-height: 100vh;
  background-color:var(--main-bg-color);
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

input::-webkit-input-placeholder{
  color:var(--placeholder-color)!important;
  font-size: .8rem;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:var(--placeholder-color)!important;
  font-size: .8rem;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:var(--placeholder-color)!important;
  font-size: .8rem;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color:var(--placeholder-color)!important;
  font-size: .8rem;
}
.main-card {
    border-radius: var(--border-radius);
    box-shadow: 0px 20px 40px rgb(103 118 128 / 3%);
    padding: 1rem 1.875rem;
    position: relative;
    transition: box-shadow 0.3s ease-in-out; 
}
.cus-dialog {
    width: 95%!important;
    max-width: 500px;
    padding: 0 2rem 2rem;
    border-radius: 10px!important; 
    background-color: var(--card-bg-color)!important;
}
.sendtalk-box {
    width: 95%!important;
    padding: 0 2rem 2rem;
    max-width: 1140px;
    border-radius: var(--border-radius)!important; 
    background-color: var(--card-bg-color)!important;
}

.sendtalk-box .el-dialog__footer {
  padding-bottom: 0!important;
}
.el-dialog__title {
    font-family: 700;
    font-size: 1.5rem;
    color: var(--h1-color)!important;
}
.massage-box .el-textarea__inner  {
    background-color: var(--card-bg-color)!important;
    height: 100px;
}
.el-textarea__inner  {
  height: 100px;
    background-color: var(--card-bg-color)!important;
}
.article-comment .el-textarea__inner {
  height: 120px;
}
.article-comment .visitor-info {
  margin-top: 2rem!important;
}
.sendbx .el-textarea__inner  {
    min-height: 150px!important;
}
.wallpanel .el-textarea__inner {
    height: 200px;
}

.wallpanel .comment-texera {
  height: 200px!important;
}
 
.el-input__wrapper {
  box-shadow: 0 0 0 1px var(--input-border-color,var(--el-border-color)) inset!important;
  background-color: var(--card-bg-color)!important;
}
.visitor-info .el-form-item {
  width: 30%;
}
.el-input__inner {
  color: var(--h2-color)!important;
}
.el-dialog {
    padding: 0 1rem 2rem;
    background-color: var(--card-bg-color)!important;
}
.el-aside {
    overflow: visible!important;
}
.percentage-value {
    display: block;
    margin-top: 10px;
    font-size: 28px;
}
.percentage-label{
    display: block;
    margin-top: 10px;
    font-size: 12px;
}
.el-pager li,.btn-next,.btn-prev {
    background-color:var(--item-bg-color)!important;
    color: var(--card-title-color)!important;
}
.el-pager .is-active {
    background-color:var(--theme-color)!important;
}
.el-pager li:hover {
    background-color:var(--theme-color-1)!important;
}
.article .el-divider__text {
    background-color: var(--card-bg-color)!important;
    color: var(--card-title-color)!important;
    font-size: .8rem;
}
.diary-list .el-card__body{
  background: var(--card-bg-color)!important;
}
.diary-list .el-card {
  border: none!important;
  border-radius: var(--border-radius)!important;
  box-shadow: var(--box-shadow-3)!important;
}
.article-content img,.diary-content img{
    display: block;
    margin: 0 auto;
    max-height: 700px;
    max-width: 100%;
}
.article-content video,.diary-content video{
    max-width: 100%;
    width: 100%;
}
.talk-box .el-divider {
    margin: .5rem 0 1rem;
    border-top: 1px var(--border-dashed-color) dashed!important;
}
.talk-content p{
    color: var(--text-color);
    line-height: 1.5rem;
    padding: 0 0 .5rem;
  }
.item-text {
color: var(--h2-color);
font-size: 0.8rem;
font-weight: 300; 
}
.el-upload-list__item,.el-upload--picture-card {
  height: 80px!important;
  width: 80px !important;
}
.el-upload-list--picture-card .el-upload-list__item-thumbnail {object-fit: cover!important;}
.el-upload-list {width: 100%;border: 1px solid var(--border-color);border-radius: var(--border-radius);padding: .5rem!important;box-sizing: border-box;}
.imgbox {border-radius: 10px;overflow: hidden;}
.el-image-viewer__canvas img {
  cursor: pointer;
}
.el-message-box {
  background-color: var(--card-bg-color)!important;
  border: none !important;
}
.el-message-box__title {color: var(--h1-color)!important;}
.el-textarea__inner,.el-message-box__message p {color: var(--text-color)!important;}
p::selection {
  background:var(--theme-color);
}
p::-moz-selection {
  background:var(--theme-color);
}
p::-webkit-selection {
  background:var(--theme-color);
}
.aside .el-menu .el-menu-item *{
  width: 100%!important;
}

.el-timeline-item__tail {
  border-left: 2px solid var(--border-dashed-color)!important;
}
.el-timeline-item__node {
  background-color: var(--card-bg-color)!important;
}
.el-timeline-item__node--primary {
  border-color:var(--theme-color)!important;
}
.el-card__body {
  background-color: var(--main-bg-color)!important;
  position: relative;
}
.el-card { border-color: var(--border-color)!important; --el-card-bg-color: none!important;--el-card-border-color:var(--border-color)!important;cursor: pointer;}

.diary-content {
  font-family: 'font1';
  font-weight: normal;
  text-align: justify;
  background-image: url(@/assets/images/underline.svg);
}
.diary p {
  color: var(--text-color);
  line-height: 30px;
  text-indent: 30px;
  width: 100%;
  min-height: 30px;
  margin-bottom: 30px;
  text-align: justify;
  padding: 0 .5rem;
  box-sizing: border-box;
}

.diary p span{
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid #bea16c;
  padding-bottom: 3px;
  text-align: justify;
  /* border-bottom: 1px solid red; */
  /* border-top: 1px solid #00b8bb41; */
}
.el-empty__description p{
  display: inline;
  text-align: center;
}
.el-dialog--center .el-dialog__body,.el-dialog__footer {
  padding: 1rem 1rem 0!important;
}
.el-divider__text {
  background-color: var(--card-bg-color)!important;
  color: var(--h2-color)!important;
}
.el-divider--vertical {border-color: var(--h2-color)!important;}
.more-load {
  border-radius: 10px;;
  height: 1.5rem;
  padding: 5px 1rem;
  display: inline-block;
  background-color: var(--card-bg-color);
}
code li{
  color: #f8f8f2 !important;
}
.config .el-collapse-item,.config .el-collapse-item__header,.config,.el-collapse-item__wrap {
  background-color: var(--card-bg-color)!important;
  color: var(--text-color);
  font-size: 1rem;
  border: none!important;
}
.el-collapse-item__content {
  background-color: var(--card-bg-color)!important;
}
.config .el-collapse-item__header {
  padding-left: 1rem;
}
.config .el-collapse-item {
  text-align: left;
  margin-bottom: .5rem;
  box-shadow: var(--box-shadow-3);
  border-radius: var(--border-radius);
}
.config svg {color: var(--h1-color);}
.config .el-collapse {
  border: none!important;
}
.config .el-collapse-item__wrap,.el-collapse-item__content{
  padding: .5rem 1rem;
  border-top: 1px solid var(--border-color);
  border-bottom: none;
}
.el-color-picker__panel {
  background-color: var(--card-bg-color)!important;
  border-color: var(--border-color)!important;
}
.el-color-picker {width: 100%;}
.el-color-picker__trigger {
  width: 100%!important;
  padding: 0!important;
}
.el-color-picker .el-color-picker__icon {display: none!important;}
.config .el-input__wrapper {
  padding: 0!important;
  border-bottom: none!important;
}
.config .el-input {
  border-radius: 5px!important;
  overflow: hidden;
}
.config .el-input__wrapper {
  height: 1.8rem;
}
.config .el-input__inner {
  padding-left: .5rem!important;
}
 .el-loading-mask {
  background-color: var(--card-bg-color)!important;
}
.config .el-input__prefix-inner {display: none;}
.el-picker-panel {
  background-color: var(--card-bg-color)!important;
  color: var(--text-color)!important;
}
.el-date-editor--year,.el-date-editor--year .el-input__wrapper {width: 100%!important;}
.el-year-table tbody span,.el-date-picker__header-label,.el-date-picker__header .el-icon {
  color: var(--text-color)!important;;
}
.shadow-box-3 {
  display: block;
  position: relative;
  background: var(--card-bg-color);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: var(--box-shadow-3);
}
.shadow-box {
  display: block;
  position: relative;
  background: var(--card-bg-color);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: var(--box-shadow-2);
}
.shadow-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  z-index: -1;
}
.el-slider__bar {
  background-color: var(--theme-color-1)!important;
}
.play-music .el-slider {
  height: 1.2rem !important;
}
.play-music .el-slider__runway {height: 3px!important;background-color: var(--border-color)!important;}
 .play-music .el-slider__bar {height: 4px!important;}
 .play-music .el-tooltip__trigger {height: .8rem!important;width: .8rem!important;}
.play-music .el-slider__button {
  border: solid 2px var(--theme-color)!important;
}
.play-music .el-slider__button-wrapper{height: 33px!important;}
.vioce-control .el-slider__runway {
  position: absolute!important;
  -webkit-transition: all 0.3s!important;
  -moz-transition: all 0.3s!important;
  -o-transition: all 0.3s!important;
  -ms-transition: all 0.3s!important;
  transition: all 0.3s!important;
}
.vioce-control:hover .el-slider__runway{
  height: 3.5rem!important;
}
.vioce-control:hover .vioce-bar{
  bottom: 2.5rem;
  height: 2.5rem;
  opacity: 1;
  visibility: visible;
}


.vioce-control .el-slider.is-vertical .el-slider__runway {
  width: var(--el-slider-height);
  height: 100%;
  margin: 0 16px;
  width: 4px;
}
.vioce-control .el-slider__bar {width: 4px!important;}
.vioce-control .el-slider__button{
  border: solid 2px var(--theme-color)!important;
  width: 4px;
  height: 4px;
}
.vioce-control .el-tooltip__trigger {height: .5rem!important;width: .5rem!important;}
.vioce-control .el-slider__button-wrapper{width: 34px!important;}
 .el-divider--horizontal {
  border-top: 1px var(--divider-color) var(--el-border-style)!important;
}
.el-select-dropdown__list {
  background-color: var(--card-bg-color)!important;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: var(--main-bg-color)!important;
}

.el-select__popper.el-popper {
  background: var(--card-bg-color)!important;
  border: 1px solid var(--border-color)!important;
  box-shadow: none!important;
}
.el-select-dropdown__item.selected {
  color: var(--theme-color)!important;
}
.el-dropdown-menu {
  background-color: var(--card-bg-color)!important;
}
.el-dropdown__popper.el-popper {
  background: var(--card-bg-color)!important;
  border: 1px solid var(--border-color)!important;
  box-shadow: none!important;
}
.el-popper.is-light .el-popper__arrow::before {
  background-color: var(--card-bg-color)!important;
  border-color: var(--border-color)!important;
}
.el-popper.el-popper__arrow::before {
  background-color: var(--theme-color)!important;
  border-color: var(--theme-color-2)!important;
}
.el-popper {
  background-color: var(--theme-color)!important;
  border-color: var(--theme-color-1)!important;
}
.el-popper .el-popper__arrow:before {
  background-color: var(--theme-color)!important;
  border-color: var(--theme-color-1)!important;
}
.el-dropdown-menu__item {
  color: var(--h2-color)!important;
}
.el-dropdown-menu__item:hover {
  background-color: var(--theme-color-2)!important;
  color: var(--theme-color)!important;
}
.massage-box,
.message-box {
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
}
.msg-content p {padding-bottom: 5px;font-size: .9rem;}
.submsg p {
  font-size: .875rem;
}
.el-form-item__label {
  color: var(--text-color)!important;
}
.el-button--primary {
  background-color: var(--theme-color)!important;
  border-color: var(--theme-color-1)!important;
}
.tool .el-button {
  background-color: var(--theme-color-1)!important;
}
.comment-texera .el-textarea__inner {resize: none!important;}
@media(max-width:550px) {
    .post-list .el-row .el-col,.album-list .el-row .el-col,.link-post .el-row .el-col {
      max-width: 100%!important;
      flex: 0 0 100%;
    }
    .el-upload-list__item,.el-upload--picture-card {
      height: 60px!important;
      width: 60px !important;
    }
    .el-message {
      min-width: 250px!important;
    }
    .el-message-box{
      width: 95%!important;
    }
    .el-timeline-item__wrapper {
      padding-left: 18px!important;
    }
    .diary-list .el-card__body {
      padding: 1rem!important;
    }
    .comment-box .el-form-item {
      width: 100%!important;
    }
    .visitor-info {
      display: block!important;
    }
    .visitor-info .el-form-item {
      width: 100%;
    }
    .control svg {
      margin: 0 .5rem!important;
    }
    .control {
      justify-content: flex-start!important;
    }
    .music_info {
      padding-right: 0!important;
    }
  }

  @media(max-width:992px) {
    .container {
      padding: 0 1rem;
    }
    .headbox {
      padding: 1.2rem!important;
    }
  }
  @media(max-width:1120px) {
    .container {
      width: 95%!important;
      padding: 0 1rem;
    }
  }
  
  @media(max-width:768px) {
    html {font-size:14px}
    .container {
      width: 100%!important;
      padding: 0 .5rem;
      box-sizing: border-box;
      padding-top: 6rem!important;
    }
    .el-dialog__body {
        padding: 0!important;
    }
    .topback {
      height: 12rem!important;
    }
    .sidetool {
      bottom: 2rem!important;
    }
    .el-aside {
      position: fixed;
      left: 0;
      z-index: 999;
      top: 50%;
      transform: translateY(-50%);
    }
    .main,.talk-box {
      padding: .8rem!important;
    }
    .talk-box .delete_talk{
      right: .8rem!important;
    }
  }
  @media(min-width:768px) {
    .wide_switch {
      display: none;
    }
  }
  