html,body {
  min-height: 100vh;
  background-color:var(--main-bg-color);
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.main-card {
    border-radius: var(--border-radius);
    box-shadow: 0px 20px 40px rgb(103 118 128 / 3%);
    padding: 1rem 1.875rem;
    position: relative;
    transition: box-shadow 0.3s ease-in-out; 
}
.cus-dialog {
    width: 95%!important;
    max-width: 500px;
    padding: 0 2rem 2rem;
    border-radius: 10px!important; 
    background-color: var(--card-bg-color)!important;
}
.sendtalk-box {
    width: 95%!important;
    padding: 0 2rem 2rem;
    max-width: 1140px;
    border-radius: var(--border-radius)!important; 
    background-color: var(--card-bg-color)!important;
}
.sendtalk-box .el-dialog__footer {
  padding-bottom: 0!important;
}
.el-dialog__title {
    font-family: 700;
    font-size: 1.5rem;
    color: var(--h1-color)!important;
}
.el-textarea__inner {
    background-color: var(--main-bg-color)!important;
    min-height: 200px!important;
}
.el-dialog {
    padding: 0 1rem 2rem;
    background-color: var(--card-bg-color)!important;
}
.el-aside {
    overflow: visible!important;
}
.percentage-value {
    display: block;
    margin-top: 10px;
    font-size: 28px;
}
.percentage-label{
    display: block;
    margin-top: 10px;
    font-size: 12px;
}
.el-pager li,.btn-next,.btn-prev {
    background-color:var(--item-bg-color)!important;
    color: var(--card-title-color)!important;
}
.el-pager .is-active {
    background-color:#409eff!important;
}
.article .el-divider__text {
    background-color: var(--card-bg-color)!important;
    color: var(--card-title-color)!important;
    font-size: .8rem;
}
.article-content img,.diary-content img{
    display: block;
    margin: 0 auto;
    max-height: 700px;
    max-width: 100%;
}
.article-content video,.diary-content video{
    max-width: 100%;
    width: 100%;
}
.talk-box .el-divider {
    margin: 1rem 0;
    border-top: 1px var(--border-dashed-color) dashed!important;
}
.talk-content p{
    color: var(--h3-color);
    line-height: 1.5rem;
    padding: 0 0 .5rem;
  }
.item-text {
color: var(--h2-color);
font-size: 0.8rem;
font-weight: 300; 
}
.el-upload-list__item,.el-upload--picture-card {
  height: 80px!important;
  width: 80px !important;
}
.el-upload-list--picture-card .el-upload-list__item-thumbnail {object-fit: cover!important;}
.el-upload-list {width: 100%;border: 1px solid var(--border-color);border-radius: var(--border-radius);padding: .5rem!important;box-sizing: border-box;}
.imgbox {border-radius: 10px;overflow: hidden;}
.el-image-viewer__canvas img {
  cursor: pointer;
}
.el-message-box {
  background-color: var(--card-bg-color)!important;
  border: none !important;
}
.el-message-box__title {color: var(--h1-color)!important;}
.el-textarea__inner,.el-message-box__message p {color: var(--text-color)!important;}
p::selection {
  background:var(--theme-color);
}
p::-moz-selection {
  background:var(--theme-color);
}
p::-webkit-selection {
  background:var(--theme-color);
}
.aside .el-menu .el-menu-item *{
  width: 100%!important;
}

.el-timeline-item__tail {
  border-left: 2px solid var(--border-dashed-color)!important;
}
.el-timeline-item__node {
  background-color: var(--card-bg-color)!important;
}
.el-timeline-item__node--primary {
  border-color:var(--theme-color)!important;
}
.el-card__body {
  background-color: var(--main-bg-color)!important;
  position: relative;
}
.el-card { border-color: var(--border-color)!important; --el-card-bg-color: none!important;--el-card-border-color:var(--border-color)!important;cursor: pointer;}
.el-card.is-always-shadow {
  box-shadow:none!important;
}
.diary-content {
  font-family: 'font1';
  font-weight: normal;
  text-align: justify;
  background-image: url(@/assets/images/underline.svg);
}
.diary p {
  color: var(--text-color);
  line-height: 30px;
  text-indent: 30px;
  width: 100%;
  min-height: 30px;
  margin-bottom: 30px;
  text-align: justify;
  padding: 0 .5rem;
  box-sizing: border-box;
}

.diary p span{
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid #bea16c;
  padding-bottom: 3px;
  text-align: justify;
  /* border-bottom: 1px solid red; */
  /* border-top: 1px solid #00b8bb41; */
}
.el-empty__description p{
  display: inline;
  text-align: center;
}
.el-dialog--center .el-dialog__body,.el-dialog__footer {
  padding: 1rem 1rem 0!important;
}
.el-divider__text {
  background-color: var(--card-bg-color)!important;
  color: var(--h2-color)!important;
}
@media(max-width:550px) {
    .post-list .el-row .el-col,.album-list .el-row .el-col,.link-post .el-row .el-col {
      max-width: 100%!important;
      flex: 0 0 100%;
    }
    .el-upload-list__item,.el-upload--picture-card {
      height: 60px!important;
      width: 60px !important;
    }
    .el-message-box {
      width: 95%!important;
    }
  }

  @media(max-width:992px) {
    .container {
      padding: 0 1rem;
    }
    .headbox {
      padding: 1.2rem!important;
    }
  }
  @media(max-width:1120px) {
    .container {
      width: 95%!important;
      padding: 0 1rem;
    }
  }
  
  @media(max-width:768px) {
    html {font-size:14px}
    .container {
      width: 100%!important;
      padding: 0 .5rem;
      box-sizing: border-box;
      padding-top: 6rem!important;
    }
    .el-dialog__body {
        padding: 0!important;
    }
    .topback {
      height: 12rem!important;
    }
    .sidetool {
      bottom: 2rem!important;
    }
    .el-aside {
      position: fixed;
      left: 0;
      z-index: 999;
      top: 50%;
      transform: translateY(-50%);
    }
    .main,.talk-box {
      padding: .8rem!important;
    }
  }
  @media(min-width:768px) {
    .wide_switch {
      display: none;
    }
  }
  