:root {
  --main-bg-color: #f3f8fb;
  --card-bg-color: #ffffff;
  --border-radius: 5px;

  --title-color: #131d21;
  --text-color-1: rgba(0, 0, 0, .5);
  --text-color-2: rgba(0, 0, 0, .3);
  --text-color: #323232;
  --pure-color: #000;
  --border-color: rgba(0, 0, 0, .1);
  --theme-color-1: var(--color-1);
  --theme-color-2: var(--color-2);
  --theme-color-3: var(--color-3);
  --theme-color-4: var(--color-4);
}

html[class=dark] {
  --title-color: #d2dce0;
  --text-color-1: rgb(229 223 223 / 60%);
  --text-color-2: rgb(229 223 223 / 20%);
  --text-color: #cdcdcd;
  --pure-color: #fff;
  --border-color: rgba(255, 255, 255, .1);
  --theme-color-1: var(--color-5);
  --theme-color-2: var(--color-6);
  --theme-color-3: var(--color-7);
  --theme-color-4: var(--color-8);
}

body,
html {
  scroll-behavior: smooth;
  background-color: var(--theme-color-3);
  min-height: 100vh;
  background-color: var(--main-bg-color);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@media (max-width: 1120px) {
  .container {
    width: 95% !important;
    padding: 0 1rem;
  }
}

@media(max-width: 992px) {
  .container {
    padding: 0 1rem;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 15px;
  }

  .headimg-wrapper {
    height: 12rem !important;
  }

}

@media(max-width: 600px) {}